{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "tabWidth": 2,
  "useTabs": false
}